// filters-object-form
.filters-object-form
	padding: 50px

	width: 100%
	background-color: $white

	+borderRadius

	&-block
		&-row
			display: flex
			align-items: flex-end
			justify-content: space-between

			&.mt
				margin-top: 25px

		&.left
			width: 30%

		&.middle
			width: 50%

		&.right
			width: 15%

		&__btn
			width: 100%

		&-btn-media-wrapper
			margin-top: 50px

			display: none
			justify-content: center

	// guest-room
	&-guest-room
		display: flex
		align-items: center

		cursor: pointer

		&-wrapper
			position: relative
			display: inline-block

		&__title
			color: $darkMainColor
			user-select: none

		&-icon
			margin-left: 20px
			+transition

			&.rotate
				transform: rotate(180deg)

		&-select-wrapper
			position: absolute
			padding: 20px

			left: 0
			top: 40px

			width: 350px
			max-height: 300px

			background-color: $white

			+boxShadow
			+borderRadius

		&-select
			max-height: 260px
			overflow-y: auto

			padding-right: 15px

			&-item
				margin-bottom: 15px
				padding-bottom: 15px

				border-bottom: 1px solid $lightGray

				+openPopup

				&-title
					margin-bottom: 15px

					display: flex
					align-items: center

					&__title
						user-select: none

					&-delete
						display: flex
						justify-content: center
						align-items: center

						cursor: pointer
						margin-left: 10px

				&-block-wrapper
					display: flex
					justify-content: space-between

				&-adults
					width: 49%

					&__subtitle
						user-select: none
						display: block
						font-size: 15px
						margin-bottom: 10px

					&-change
						display: flex
						align-items: center

						&-block
							cursor: pointer
							border: 1px solid $lightGray

							display: flex
							justify-content: center
							align-items: center

							width: 30px
							height: 30px

							border-radius: 10px

							&.disabled
								pointer-events: none

								& > svg
									stroke: $lightMainColor

							& > svg
								stroke: $mainColor
								+transition

						&__count
							user-select: none
							display: block
							margin: 0 15px

							font-size: 15px

				&-kids
					width: 50%

					&__subtitle
						user-select: none
						display: block
						font-size: 15px
						margin-bottom: 10px

					&-null
						&__title
							user-select: none

							font-size: 15px
							color: $gray

					&-wrapper
						display: flex
						align-items: center
						justify-content: space-between

					&-items-wrapper-wrapper
						max-height: 100px

						overflow-y: auto

					&-items-wrapper
						height: 100%
						padding-right: 10px

					&-item
						display: flex
						align-items: center

						margin-bottom: 10px

						+openPopup

						&:last-child
							margin-bottom: 0

						&__title
							width: 55px
							user-select: none
							white-space: nowrap
							font-size: 15px

						&-delete
							display: flex
							justify-content: center
							align-items: center

							cursor: pointer

					&-plus
						cursor: pointer
						border: 1px solid $lightGray

						display: flex
						justify-content: center
						align-items: center

						width: 30px
						height: 30px

						border-radius: 10px

					&-select-wrapper
						position: absolute

						padding: 15px 10px 15px 20px

						z-index: 10

						background-color: $white

						border-radius: 10px

						height: 180px

						+boxShadow

					&-select
						height: 100%
						overflow-y: auto

						padding-right: 15px

						&__item
							cursor: pointer
							font-size: 15px
							user-select: none
							margin-bottom: 10px

							&:last-child
								margin-bottom: 0

			&__add
				display: inline-block

				user-select: none
				cursor: pointer
				color: $mainColor