// header
.header
	margin: 50px 0

	&-wrapper
		display: flex
		justify-content: space-between
		align-items: center

	&-block
		display: flex
		align-items: center

		&-menu-btn
			cursor: pointer

		&-logo
			margin-left: 25px

			&__image
				pointer-events: none
				user-select: none