// home
.home
	padding: 50px 0

	height: 550px
	+backgroundSetting

	// main
	&-main
		&-header
			display: flex
			justify-content: space-between
			align-items: center

			&-block
				position: relative

				display: flex
				align-items: center

				&-logo
					margin-left: 20px

					&__image
						pointer-events: none
						user-select: none

				&-search
					position: relative
					width: 380px

					&__input
						font-size: 20px
						color: $white

						border-radius: 100px
						padding: 13px 25px 13px 65px
						width: 100%

						background-color: rgba(255, 255, 255, 0.2)
						border: 2px solid rgba(255, 255, 255, 0.4)

						&::placeholder
							color: $white
							user-select: none

					&::before
						display: block
						position: absolute
						content: ""

						top: 50%
						left: 25px

						transform: translateY(-50%)

						width: 19px
						height: 19px

						background-image: url("data:image/svg+xml, %3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M16.8395 15.4605L13.1641 11.7852C14.0489 10.6072 14.5266 9.17331 14.525 7.7C14.525 3.93672 11.4633 0.875 7.7 0.875C3.93672 0.875 0.875 3.93672 0.875 7.7C0.875 11.4633 3.93672 14.525 7.7 14.525C9.17331 14.5266 10.6072 14.0489 11.7852 13.1641L15.4605 16.8395C15.6466 17.0058 15.8893 17.0945 16.1387 17.0876C16.3881 17.0806 16.6255 16.9784 16.8019 16.8019C16.9784 16.6255 17.0806 16.3881 17.0876 16.1387C17.0945 15.8893 17.0058 15.6466 16.8395 15.4605ZM2.825 7.7C2.825 6.73582 3.11091 5.79328 3.64659 4.9916C4.18226 4.18991 4.94363 3.56506 5.83442 3.19609C6.72521 2.82711 7.70541 2.73057 8.65107 2.91867C9.59672 3.10677 10.4654 3.57107 11.1471 4.25285C11.8289 4.93464 12.2932 5.80328 12.4813 6.74893C12.6694 7.69459 12.5729 8.67479 12.2039 9.56558C11.8349 10.4564 11.2101 11.2177 10.4084 11.7534C9.60672 12.2891 8.66418 12.575 7.7 12.575C6.40755 12.5734 5.16847 12.0593 4.25457 11.1454C3.34066 10.2315 2.82655 8.99245 2.825 7.7Z' fill='white' /%3E%3C/svg%3E")
						+backgroundSetting

				&__pass
					user-select: none
					display: flex
					align-items: center

					color: $white

					+transition

					& > svg
						fill: $white
						margin-right: 15px
						+transition

					&:hover
						color: rgba(255, 255, 255, 0.7)

						& > svg
							fill: rgba(255, 255, 255, 0.7)

				&-user
					display: flex
					align-items: center

					&-notifications
						cursor: pointer
						position: relative

						&__count
							user-select: none
							position: absolute

							top: -10px
							right: -15px

							display: flex
							justify-content: center
							align-items: center

							background-color: $mainGreen
							border-radius: 50%

							width: 30px
							height: 30px

							color: $white
							font-size: 15px
							font-weight: 500

					&__btn
						position: relative
						cursor: pointer
						margin-left: 40px
						font-size: 20px
						color: $white
						border-radius: 100px

						padding: 13px 60px 13px 25px
						background-color: rgba(255, 255, 255, 0.5)

						&::before
							display: block

							position: absolute
							content: ""

							width: 50px
							height: 50px

							top: 0
							right: -1px

							background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='25' fill='%2385F698'/%3E%3Ccircle cx='25' cy='25' r='25' fill='url(%23paint0_linear_254_935)'/%3E%3Cmask id='mask0_254_935' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Ccircle cx='25' cy='25' r='25' fill='%2385F698'/%3E%3Ccircle cx='25' cy='25' r='25' fill='url(%23paint1_linear_254_935)'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_254_935)'%3E%3Cpath d='M5 38.5915C5 36.5255 6.28666 34.7795 7.99998 34.5516C20.8582 32.8436 29.1998 32.9976 42.0297 34.5896C42.6704 34.6703 43.2776 34.9732 43.7772 35.4612C44.2768 35.9492 44.6472 36.6013 44.843 37.3377C45.0389 38.0742 45.0517 38.8631 44.8801 39.6082C44.7084 40.3533 44.3597 41.0223 43.8764 41.5334C28.7348 57.3711 20.0816 57.1531 6.06666 41.5494C5.38333 40.7894 5 39.7094 5 38.5935V38.5915Z' fill='white'/%3E%3C/g%3E%3Cpath d='M35.8333 18.7487C35.8333 21.5114 34.7359 24.1609 32.7824 26.1144C30.8289 28.0679 28.1793 29.1654 25.4167 29.1654C22.654 29.1654 20.0045 28.0679 18.051 26.1144C16.0975 24.1609 15 21.5114 15 18.7487C15 15.986 16.0975 13.3365 18.051 11.383C20.0045 9.4295 22.654 8.33203 25.4167 8.33203C28.1793 8.33203 30.8289 9.4295 32.7824 11.383C34.7359 13.3365 35.8333 15.986 35.8333 18.7487Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_254_935' x1='4.6371' y1='9.78261' x2='57.3594' y2='15.9761' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2376DD87'/%3E%3Cstop offset='1' stop-color='%2300A0A0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_254_935' x1='4.6371' y1='9.78261' x2='57.3594' y2='15.9761' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2376DD87'/%3E%3Cstop offset='1' stop-color='%2300A0A0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")

							background-size: contain
							background-repeat: no-repeat
							background-position: center center

		&-text
			color: $white
			padding-top: 65px

			&__title
				font-size: 48px
				margin-bottom: 15px

				& > span
					color: $mainGreen

		&-form
			margin-top: 100px

	// services
	&-services
		overflow-x: scroll

		padding: 75px 0

		margin: 75px 0

		&::-webkit-scrollbar
			display: none

		&-wrapper
			height: 590px
			display: flex

		&-item
			margin-right: 125px

			position: relative

			display: inline-flex
			flex-direction: column
			justify-content: space-between
			align-items: flex-start

			padding: 50px 35px

			min-width: 450px
			width: 450px

			height: 500px

			background-color: $white

			+borderRadius

			&:last-child
				margin-right: 0

			&.color
				color: $white
				background: $mainGradient

			&-text
				z-index: 2

				&__title
					font-size: 32px
					margin-bottom: 15px

				&__description
					max-width: 90%

			&__btn
				z-index: 2

			&__image
				right: -75px
				bottom: -90px

				position: absolute

				+disabledImage

	// security
	&-security
		margin: 75px 0

		&-wrapper
			background-color: $white
			padding: 35px

			+borderRadius

		&__title
			font-size: 32px
			margin-bottom: 50px

		&-items-wrapper
			display: flex
			justify-content: space-between

		&-item
			width: 30%
			display: flex

			&-icon
				& > svg
					width: 80px

			&-text
				margin-left: 20px

				&__title
					font-size: 20px
					color: $mainColor
					margin-bottom: 10px

				&__description
					font-size: 15px

		&-bottom-block
			margin-top: 50px

			display: flex
			justify-content: space-between

			&-payments, &-feedbacks
				display: flex
				flex-direction: column
				justify-content: space-between

				width: 46%

				&__description
					max-width: 100%
					font-size: 15px

				&-logos
					display: flex
					align-items: center
					justify-content: space-between

					&-item
						width: 100px
						height: 100px

						background-size: contain
						background-repeat: no-repeat
						background-position: center center

						&:last-child
							margin-right: 0

			&-feedbacks
				&__description
					max-width: 50%

				&-logos
					&-item
						width: 150px
						height: 100px

	&-corporate
		margin: 200px 0 125px 0

		&-wrapper
			position: relative

			display: flex
			justify-content: space-between

		&-bg-image
			right: -150px
			top: -200px

			position: absolute

			+disabledImage

		&__image
			margin-left: -150px

			+disabledImage

		&-text
			&__title
				font-size: 32px
				margin-bottom: 25px

			&-btn
				display: flex
				justify-content: flex-end

				margin-top: 75px

	// email
	&-email
		margin: 300px 0 0 0

		height: 500px

		+backgroundSetting

		&-wrapper
			position: relative

		&-form
			width: 100%
			position: absolute

			left: 0
			top: -185px

			display: flex
			flex-direction: column
			align-items: center

			background-color: $white
			padding: 50px

			+borderRadius

			&-text
				display: flex
				flex-direction: column
				align-items: center
				text-align: center

				&__title
					font-size: 32px
					margin-bottom: 15px

				&__subtitle
					max-width: 60%

			&-wrapper
				width: 75%

			&-field
				margin-top: 50px

				width: 100%

				display: flex
				align-items: center
				justify-content: space-between

				&-input
					width: 60%

				&__btn
					width: 38%

			&-checkbox
				margin-top: 20px
