*
	margin: 0
	padding: 0

	box-sizing: border-box

body
	font-family: 'Ubuntu', sans-serif
	font-size: 20px
	background-color: #f1f1f1

// container
.container
	width: 90%
	max-width: 1200px

	margin: 0 auto
